$navbar-blue: #4056a1;

@media (min-width: 1024px) {
  nav {
    background-color: $navbar-blue;
  }

  .page-header, main {
    top: 200px;
  }

  .page-header {
    width: 30%;
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  main {
    width: 60%;
    padding-top: 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .new-tweet {
    margin-bottom: 50px;
  }

  .tweet:first-of-type {
    margin-top: 0;
  }

}

