$main-text-gray: #545149;
$hover-effect-gray: #b8bab9;

.tweet {
  border: $main-text-gray 4px solid;
  margin: 50px 0;
  padding: 20px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;

    div {
      display: flex;
      align-items: center;
    }

    .username {
      display: none;
      color: $hover-effect-gray;
    }
  }

  img {
    width: 40px;
    margin-right: 10px;
  }

  p {
    font-weight: 400;
    overflow-wrap: break-word;
  }

  footer {
    border-top: #545149 4px solid;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding-top: 10px;

    i {
      margin: 0 10px;
      display: none;
    }
  }

}

.tweet:hover {
  box-shadow: 5px 5px $hover-effect-gray;

  .username {
    display: inline;
  }

  i {
    display: inline;
  }
}