.page-header {
  height: 400px;
  width: 100%;
  position: absolute;
  top: 120px;
  background-color: #d69e2d;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
}

.page-header div {
  text-align: center;
}

.page-header div img {
  margin-top: 30px;
}

.page-header div h2 {
  margin-top: 0;
}