nav {
  position: fixed;
  height: 120px;
  width: 100vw;
  z-index: 999;
  background-color: #4056a1;
  color: #FFFFFF;
  padding: 2rem;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.nav-left span {
  font-family: "Bungee", cursive;
  font-size: 2rem;
}

.nav-right button {
  background: none;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

.nav-right button:focus {
  outline: none;
}